* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(204, 203, 203);
}

header {
    background: rgb(43, 50, 82);
    color: white;
    padding: 40px 30px;
    border-bottom: 15px solid rgb(187, 71, 119);
}

h2 {
    color: rgb(245, 148, 188);
}

main {
    padding: 40px;
}

article {
    padding: 20px 80px;
}

article.sample {
    padding: 0;
}

h3 {
    text-align: center;
    width: calc(100% - 6);
    color: white;
    padding: 12px 0;
    border: 3px double white;
}

table {
    width: 100%;
    border-spacing: 0;
}

th,
td {
    border: 1px solid black;
    padding: 5px 8px;
    position: relative;
}

td ol,
td ul {
    padding-left: 20px;
}

.comment {
    color: rgb(100, 100, 100);
}

.focus {
    font-weight: bold;
    color: rgb(0, 50, 124);
}

td:nth-child(2) {
    width: 25%;
}

dialog {
    position: absolute;
    width: 100%;
    margin-left: 30px;
    margin-top: -20px;
    top: 0;
}

.ind {
    clear: both;
    padding-left: 15px;
}

#structural > h3 {
    background: rgb(20, 102, 31);
}

#structural th {
    background: rgb(142, 204, 150);
}

#structural tr:nth-child(2n - 1) {
    background: rgb(217, 235, 217);
}

#structural tr:nth-child(2n) {
    background:rgb(193, 231, 200)
}

#form > h3 {
    background: rgb(25, 20, 102)
}

#form th {
    background: rgb(143, 142, 204);
}

#form tr:nth-child(2n - 1) {
    background: rgb(217, 217, 235);
}

#form tr:nth-child(2n) {
    background:rgb(193, 197, 231)
}

#input > h3 {
    background: rgb(102, 20, 58)
}

#input th {
    background: rgb(204, 142, 178);
}

#input tr:nth-child(2n - 1) {
    background: rgb(235, 217, 225);
}

#input tr:nth-child(2n) {
    background:rgb(231, 193, 209)
}

#attribute > h3 {
    background: rgb(86, 20, 102)
}

#attribute th {
    background: rgb(186, 142, 204);
}

#attribute tr:nth-child(2n - 1) {
    background: rgb(232, 217, 235);
}

#attribute tr:nth-child(2n) {
    background:rgb(230, 193, 231)
}

#graphic > h3 {
    background: rgb(20, 90, 102)
}

#graphic th {
    background: rgb(142, 195, 204);
}

#graphic tr:nth-child(2n - 1) {
    background: rgb(217, 235, 231);
}

#graphic tr:nth-child(2n) {
    background:rgb(193, 231, 229)
}

#media > h3 {
    background: rgb(102, 20, 20)
}

#media th {
    background: rgb(204, 142, 142);
}

#media tr:nth-child(2n - 1) {
    background: rgb(235, 217, 217);
}

#media tr:nth-child(2n) {
    background:rgb(231, 193, 193)
}